**/latex/*.aux
**/latex/*.fls
**/latex/*.log
**/latex/*.out
**/latex/*.toc
**/latex/*.fdb_latexmk
**/latex/*.synctex.gz
**/latex/*.synctex(busy)
*.asv
*.aux
*.fls
*.log
*.out
*.toc
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.slx.autosave
slprj